body {
    background-image: url(../images/bananas.png)
}

.btn-dark {
    margin-right: 10px;
}

.jumbotron {
    background: darkslategrey;
    color: white;
}

#gif-space {
    text-align: center;
}
